/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --font: "IBM Plex Mono";
  --text-shadow-desktop: #ff0070;
  --text-shadow-mobile: #ff8dcb;
  --focus-title-color: #ffc2e6;
  --accent-font-color: #353430;
  --main-font-color: #353430;
  --h2-font-color: #353430;
  --button-font-color: #353430;
  --button-active: #353430;
  --button-hover: #32312d66;
  --accent-bg-color: #ff8dcb;
  --header-bg-image: url(../images/cover-image-light.png);
  --rec-color: transparent;
  --rectangle-color: #353430;
  --link-shadow-color: #ff8dcb;
  --link-focus: #353430;
  --link-hover: #353430;
}
